*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.visible{
    display: flex;  
    height: 86vh;
    width: 100%;  
}

.flex{
    display: flex;
}
/* HEADER */
.nav-style{
    justify-content: space-between;
    background-color: rgba(4, 45, 122, 0.836);
    height: 10vh;
    width: 100%;
}
.title-nav{
    color: rgb(5, 5, 5);
    margin: 20px;
}
.nav-btn-style{
    background-color: transparent;
    margin-right: 1.5rem;
    border: none;
    cursor: pointer;
}
.btn-img-size{
    height: 60%;
}
.btn-img-size:hover{
    filter: invert(100%);
}
/* MAIN */
/* * HACER TAREAS * */
.center-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-size{
    width: 25rem;
    height: 75vh;
}
.legend-center{
    text-align: center;
    font-weight: 600;
}
.img-fieldset{
    width: 4rem;
}
.column{
    flex-direction: column;
}
.title-form{
    margin: 4% auto;
}
.txt-time{
    text-align: center;
}
.label-style{
    margin: 0% 5%;
    font-weight: 600;
}
.input-style{
    width: 90%;
    margin: 2% 5%;
    padding: 1.5%;
}

.box-radio{
    justify-content: space-evenly;
    padding: 1.5% 0%;
}
.box-comments{
   padding: 4.5%;
}
.btn-style{
    width: 40%;
    margin: 3% auto;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    background: #0199d9;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
}
.btn-style:hover {
    border: 1px solid #007cad;
    background: rgba(0,142,198,1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  }
.msg-error{
    margin: 0% auto;
    color: red;
    font:  medium/normal Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}
.msg-save{
    color: rgb(16, 148, 38);
    font:  medium/normal Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0% auto;
}
/* * VER TAREAS * */
.padding-task{
    padding: 1%;
}
.visual-size{
    width: 100vw;
    height: 70vh;
}
.select-width{
    width: 10rem;
    margin: 2% auto;
}
.grid{
    display: grid;
    height: 50vh;
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fill, 280px);
    column-gap: 20px;
    row-gap: 10px;
    width: 100%;
    align-items: flex-start;   
}
.task-list{
    min-height: 150px;
}
.border-task{
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 25px;
}
.task-type-style{
    justify-content: space-around;
    padding: 8px;
}
.task-title-style{
    text-align: center;
}
.task-description-style{
    text-align: center;
    padding: 0.4rem 1rem;
}
.bg-high{
    background-color: #005f73; 
    border-radius: 23px 23px 0px 0px;      
}
.bg-medium{
    background-color: #0a9396;  
    border-radius: 23px 23px 0px 0px;  
}
.bg-low{
    background-color: #94d2bd;
    border-radius: 23px 23px 0px 0px;  
}

/* FOOTER */
.footer-style{
    justify-content: space-between;
    background-color: rgba(4, 45, 122, 0.836);
    height: 4vh;
    width: 100%;
}

.hidden{
    display: none;  
}